In [17]:
import numpy as np
import pandas as pd

from pathlib import Path
from sklearn.model_selection import train_test_split

In [4]:
csv_dir = Path('/cfs/earth/scratch/kraftjul/BA/dataset/info/labels')

In [18]:
# creating a list of all csv files in the directory
csv_files = [file for file in csv_dir.iterdir() if file.suffix == '.csv']

In [19]:
combined_data = pd.DataFrame()
for file in csv_files:
    data = pd.read_csv(file)
    combined_data = pd.concat([combined_data, data])

In [20]:
train, test = train_test_split(combined_data, test_size=0.1, random_state=42)

In [25]:
train['split'] = 'train'
test['split'] = 'test'

df_split = pd.concat([train, test]).sort_values(by=["session", "seq_nr"], ascending=[True, True])

In [27]:
df_split['all_files'] = df_split['all_files'].str.split(',')

In [ ]:
df_explode = df_split.explode("all_files", ignore_index=True)

df_explode['file'] = df_explode['all_files']

In [34]:
col_selection = ['session', 'seq_nr', 'Directory', 'file', 'n_files', 'label', 'duplicate_label', 'label2','split', 'SerialNumber', 'DateTime_start', 'DateTime_end', 'duration_seconds']

df_final = df_explode[col_selection]

In [35]:
df_final

,session,seq_nr,Directory,file,n_files,label,duplicate_label,label2,split,SerialNumber,DateTime_start,DateTime_end,duration_seconds
0,1,1,sessions/session_01/H550HF07158873_2,IMG_0001.JPG,9,NaN,0.0,NaN,train,H550HF07158873,2019-08-26T19:46:27Z,2019-08-26T19:46:33Z,6.0
1,1,1,sessions/session_01/H550HF07158873_2,IMG_0002.JPG,9,NaN,0.0,NaN,train,H550HF07158873,2019-08-26T19:46:27Z,2019-08-26T19:46:33Z,6.0
2,1,1,sessions/session_01/H550HF07158873_2,IMG_0003.JPG,9,NaN,0.0,NaN,train,H550HF07158873,2019-08-26T19:46:27Z,2019-08-26T19:46:33Z,6.0
3,1,1,sessions/session_01/H550HF07158873_2,IMG_0004.JPG,9,NaN,0.0,NaN,train,H550HF07158873,2019-08-26T19:46:27Z,2019-08-26T19:46:33Z,6.0
4,1,1,sessions/session_01/H550HF07158873_2,IMG_0005.JPG,9,NaN,0.0,NaN,train,H550HF07158873,2019-08-26T19:46:27Z,2019-08-26T19:46:33Z,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
480197,7,10,sessions/session_07/Sattelegg/Standort_A20,IMG_0227.JPG,9,apodemus_sp,NaN,apodemus_sp,train,NaN,NaN,NaN,NaN
480198,7,10,sessions/session_07/Sattelegg/Standort_A20,IMG_0228.JPG,9,apodemus_sp,NaN,apodemus_sp,train,NaN,NaN,NaN,NaN
480199,7,10,sessions/session_07/Sattelegg/Standort_A20,IMG_0229.JPG,9,apodemus_sp,NaN,apodemus_sp,train,NaN,NaN,NaN,NaN
480200,7,10,sessions/session_07/Sattelegg/Standort_A20,IMG_0230.JPG,9,apodemus_sp,NaN,apodemus_sp,train,NaN,NaN,NaN,NaN
480201,7,10,sessions/session_07/Sattelegg/Standort_A20,IMG_0231.JPG,9,apodemus_sp,NaN,apodemus_sp,train,NaN,NaN,NaN,NaN